<%= form_for(@assignment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :duedate %><br>
    <%= f.datetime_select :duedate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>